.admin-manga-container {
  width: 80%;
}

.top-btn-container {
  display: flex;
  margin-top: 1.25rem;
}

.top-btn-container button {
  width: 50%;
  font-size: var(--fs-M);
  padding: 1rem;
  margin-bottom: 2rem;
}

.top-btn-active {
  color: var(--secondary-clr);
  font-weight: 500;
  border-bottom: 2px solid var(--secondary-clr);
}

.top-btn-inactive {
  color: var(--neutral-700);
  border-bottom: 2px solid var(--neutral-500);
}

/* .manga-item {
  border: 1px solid black;
}

.data-container {
  display: flex;
  justify-content: flex-start;
}

.category-title {
  font-size: var(--fs-S);
} */
