.advert-tab-container {
  display: flex;
  margin-top: 1.25rem;
}

.advert-tab-container button {
  width: 50%;
  font-size: var(--fs-M);
  padding: 1rem;
  margin-bottom: 1rem;
}

.advert-tab-container .active-tab {
  color: var(--neutral-800);
  font-weight: 500;
  border-bottom: 3px solid var(--primary-clr);
}

.advert-tab-container .inactive-tab {
  color: var(--neutral-700);
  border-bottom: 2px solid var(--neutral-600);
}

.advert-instruction {
  color: var(--neutral-700);
  font-size: var(--fs-S);
}

.advert-select-reference {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  padding: 0.3rem;
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-700);
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .advert-tab-container button {
    font-size: var(--fs-S);
  }

  .advert-instruction {
    font-size: var(--fs-XS);
  }

  .advert-select-reference {
    margin-bottom: 2rem;
  }
}
