.advert-form .add-button {
  padding: 0.5rem 3rem;
  background-color: var(--primary-clr);
  border: none;
  border-radius: 5px;
  color: var(--neutral-100);
  font-weight: 600;
  margin: 2rem auto;
  display: block;
}

.advert-form .add-button:hover {
  background-color: var(--primary-clr-accent);
}
