.container-onglets {
  margin-top: 10%;
}

.container-button {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
}

.button-onglet {
  border-bottom: 2px solid var(--neutral-600);
  color: var(--neutral-700);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: var(--fs-M);
}

.selected {
  border-bottom: 3px solid var(--primary-clr);
  color: var(--neutral-800);
  font-weight: 500;
}

.container-information {
  position: relative;
}

/********************** Utilise ces propriétées pour l'onglet "Mes annonces et Mon historique d'achat" ***********************/
.container-adverts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
}

.advert-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  color: var(--primary-clr);
  background-color: var(--neutral-100);
  border: 1px solid var(--primary-clr);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.2rem;
}

.delete-btn:hover {
  color: var(--neutral-100);
  background-color: var(--primary-clr);
}

/* ********************************************** */
/* CSS for Modal */

.modal-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.overlay-delete {
  background: rgba(49, 49, 49, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-delete {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  /* top: 40%;
  left: 50%; */
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--neutral-100);
  padding: 14px 28 px;
  border-radius: 0.5rem;
  width: 40rem;
  height: 10rem;
}

.message-modal {
  color: var(--primary-clr-accent);
  text-align: center;
  padding: 5% 5% 6% 5%;
  font-size: var(--fs-L);
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  font-size: var(--fs-S);
}

.confirm-delete {
  border-right: solid 0.1rem var(--neutral-600);
  padding-right: 20%;
}

.confirm-delete:hover {
  color: var(--primary-clr-accent);
}

.cancel-delete {
  padding-left: 20%;
}

.cancel-delete:hover {
  color: var(--primary-clr-accent);
}

/******************************************************************************************************************************/

.statusOrder {
  font-size: var(--fs-XS);
  margin-top: 2%;
}
.completed {
  color: green;
}

.pending {
  color: orange;
}

.cancelled {
  color: red;
}

.default {
  color: gray;
}

.orderDate {
  font-size: var(--fs-XS);
  margin-top: 2%;
}

/********************** Utilise ces propriétées pour l'onglet "Mes évaluations" ***********************************************/
.containerEvaluations {
  height: auto;
}

.containerNote {
  border-bottom: solid 0.1rem var(--neutral-700);
  height: 70px;
  display: flex;
  align-items: center;
}

.average_rating {
  padding: 0 2rem 0 4.5rem;
  font-size: var(--fs-XL);
  font-weight: bold;
}

.Number_comment {
  font-size: var(--fs-S);
}

.containerCom {
  display: flex;
  align-items: center;
  border-bottom: solid 0.1rem var(--neutral-300);
}

.picture_buyer {
  height: 10rem;
  width: 10rem;
  clip-path: circle(50%);
  object-fit: cover;
  margin: 20px 45px 20px 90px;
}

.commentBuyer {
  height: auto;
}

.speudoBuyer {
  color: var(--primary-clr-accent);

  font-size: var(--fs-M);
}
.createdOn {
  color: var(--neutral-600);
  font-size: var(--fs-XS);
  margin-top: 2%;
}

.comment {
  margin-top: 2%;
  font-size: var(--fs-S);
}

.starcontainer {
  display: flex;
  font-size: var(--fs-L);
}

.rating {
  display: flex;
}
/* -----------------------------------CSS pour les couleurs des étoiles----------------------------------- */
/* CSS pour les demi-étoiles */
.half-star {
  color: #a6a6a6;
  position: relative;
}

.half-star::after {
  content: "★";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 50%;
  color: #ffd700;
}

/* CSS pour les étoiles vides */
.empty-star {
  color: #a6a6a6;
}

/* CSS pour les étoiles pleines */
.full-star {
  color: #ffd700;
}
/* ------------------------------------------------------------------------------------------------------ */
/******************************************************************************************************************************/

@media screen and (max-width: 768px) {
  .button-onglet {
    font-size: var(--fs-S);
  }
  .container-adverts {
    justify-content: center;
  }

  .message-modal {
    font-size: var(--fs-M);
  }

  .modal-content {
    width: 22rem;
    height: 7rem;
  }

  .containerCom {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .average_rating {
    padding-left: 1.5rem;
  }

  .picture_buyer {
    margin-left: 30px;
    margin-right: 30px;
    height: 8rem;
    width: 8rem;
  }

  .commentBuyer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
