.main_container_user {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.container_profilhead {
  display: flex;
  margin: auto;
  gap: 3rem;
}

.picture_user_profilhead {
  display: flex;
  justify-content: center;
  align-items: start;
}

.picture_user_profilhead_img {
  object-fit: cover;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.container_user_profilhead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.user_profilhead_info_name {
  font-size: var(--fs-XL);
  margin-bottom: 1rem;
}

.user-item {
  display: flex;
  margin-bottom: 1rem;
}

.user-item-title {
  font-weight: 600;
  width: 6rem;
}

.profilhead_button {
  background-color: var(--primary-clr);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: auto;
  margin-right: auto;
  width: 6rem;
  margin: auto;
}
.profilhead_button:hover {
  background-color: var(--primary-clr-accent);
}

@media screen and (max-width: 768px) {
  .main_container_user {
    box-shadow: none;
    width: 90%;
  }

  .container_profilhead {
    flex-direction: column;

    gap: 1rem;
  }

  .user_profilhead_info_name {
    font-size: var(--fs-L);
    text-align: center;
  }

  .picture_user_profilhead {
    width: 100%;
  }

  .container_user_profilhead {
    width: 100%;
  }
}
