.container-onglets {
  margin-top: 3rem;
}

.container-button {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
}

.button-onglet {
  border-bottom: 2px solid var(--neutral-600);
  color: var(--neutral-700);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: var(--fs-M);
}

.selected {
  border-bottom: 3px solid var(--primary-clr);
  color: var(--neutral-800);
  font-weight: 500;
}

.container-information {
  position: relative;
}

@media screen and (max-width: 768px) {
  .button-onglet {
    font-size: var(--fs-S);
  }
}
