.tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
}

.no-adverts-msg {
  margin-top: 2rem;
  font-weight: 600;
  color: var(--primary-clr);
  margin-bottom: 3rem;
}

.advert-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  color: var(--primary-clr);
  background-color: var(--neutral-100);
  border: 1px solid var(--primary-clr);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.2em;
}

.delete-btn:hover {
  color: var(--neutral-100);
  background-color: var(--primary-clr);
}

/* CSS for Modal */

.modal-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.overlay-delete {
  background: rgba(49, 49, 49, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-delete {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--neutral-100);
  padding: 14px 28 px;
  border-radius: 0.5rem;
  width: 40rem;
  height: 10rem;
}

.message-modal {
  color: var(--primary-clr-accent);
  text-align: center;
  padding: 5% 5% 6% 5%;
  font-size: var(--fs-L);
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  font-size: var(--fs-S);
}

.confirm-delete {
  border-right: solid 0.1rem var(--neutral-600);
  padding-right: 20%;
}

.confirm-delete:hover {
  color: var(--primary-clr-accent);
}

.cancel-delete {
  padding-left: 20%;
}

.cancel-delete:hover {
  color: var(--primary-clr-accent);
}

@media screen and (max-width: 768px) {
  .container-adverts {
    justify-content: center;
  }
  .message-modal {
    font-size: var(--fs-M);
  }

  .modal-content {
    width: 22rem;
    height: 7rem;
  }
}
