.detail-page {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column; /* Ajoutez cette ligne */
  align-items: center;
  padding: 2rem 0;
}

.advert-detail-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  height: auto;
}

.single-picture-container {
  width: 20rem;
  height: 30rem;
}

.two-pictures-container,
.three-pictures-container {
  width: 30rem;
  height: 30rem;
  display: flex;
  gap: 0.5rem;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-picture-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-section {
  max-width: 25rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-price {
  font-weight: 600;
  font-size: var(--fs-M);
  border-bottom: 1px solid var(--neutral-700);
  color: var(--neutral-800);
  margin-bottom: 1rem;
}

.content-value {
  color: var(--neutral-700);
}

.description-box {
  display: flex;
  margin-bottom: 0.5rem;
}

.description-box h2 {
  color: var(--neutral-700);
  font-size: var(--fs-S);
  min-width: 7rem;
}

.buy-btn {
  color: var(--neutral-100);
  background-color: var(--primary-clr);
  padding: 0.5rem 5rem;
  border-radius: 0.5rem;
  margin: 4rem 0;
  width: 14rem;
}

.buy-btn:hover {
  background-color: var(--primary-clr-accent);
}

.tab-system {
  margin-top: 1.25rem;
  width: 100%;
}

.tabs {
  display: flex;
}

.tabs button {
  width: 50%;
  font-size: var(--fs-M);
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--neutral-700);
  border-bottom: 2px solid var(--neutral-600);
}

.tabs button.active {
  color: var(--neutral-800);
  font-weight: 500;
  border-bottom: 3px solid var(--primary-clr);
}

.manga-tab,
.seller-tab {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .advert-detail-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .image-section {
    width: 15rem;
    height: 21rem;
  }

  .content-section {
    width: 100%;
    height: auto;
  }

  .description-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .two-pictures-container,
  .three-pictures-container {
    height: 18rem;
    width: 20rem;
  }

  .tabs button {
    font-size: var(--fs-S);
  }
}
