.explore {
  width: 100%;
}

.explore h1 {
  font-size: var(--fs-XL);
  text-align: center;
  margin-bottom: 3rem;
}

.filteredAdverts-explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .explore h1 {
    font-size: var(--fs-L);
  }
}
